@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  box-sizing: border-box;



body {
  background-image: linear-gradient(
    0deg,
    rgba(204, 182, 211, 1) 23.8%,
    rgba(180, 90, 200, 1) 92%
  );
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Lato', sans-serif;
  margin: 0;
}
}

.music-container {
  flex-direction: column; /* Change the flex direction to column */
  align-items: center;
  background-color: #222222;
  width: 500px;
  height: 100px;
  top: calc(100% - 100px);
  border-radius: 15px;
  display: flex;
  padding: 0px 0px;
  position: relative;
  margin: 0px 0;
  z-index: 10;
}

.music-container.play .img-container img {
  animation-play-state: running;
}


.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  z-index: 1;
}


.action-btn {
  background-color: #222222;
  border: 0;
  color: white;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  margin: 0 20px;
}

.action-btn.action-btn-big {
  color: white;
  font-size: 30px;
}

.action-btn:focus {
  outline: 0;
}
#volume-control {
   top: 10px;

}

.music-info {
  background-color: rgba(50, 50, 50, 1);
  border-radius: 15px 15px 0 0;
  position: absolute;
  top: 0;
  left: 20px;
  width: calc(100% - 40px);
  padding: 10px 10px 10px 10px;
  opacity: 0;
  transform: translateY(0%);
  z-index: 0;
}

.music-container.play .music-info {
  opacity: 1;

  transform: translateY(-100%);
}

.music-info h4 {
  color: #ffffff;
  margin: 0;
}

.progress-container {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  height: 10px;
  width: 100%;
}

.progress {
  background-color: #f000f0;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}

#songList.pressed {
  color:#f000f0;
}

#shuffle.pressed {
  color:#f000f0;
}
#repeat.pressed {
  color:#f000f0;
}
#music-container.pressed{
visibility: hidden;
}
#scrollable-list-container.pressed{
visibility: hidden;
}
body {
            margin: 0; /* Reset default body margin */
        }

        #scrollable-list-container {
            width: 400px;
            max-height: 30vh; /* Set a fixed max-height value */
            overflow-y: auto;
            border: 0px;
            /* Position relative to the body */
            position: absolute;
            top: calc(100% - 30VH);
            left: 0;
        }

        #scrollable-list {

            padding: 0;
            margin: 0;
        }

        #scrollable-list li:hover {
          background-color: #000;
          color: #f000f0
        }

        #scrollable-list li {

            padding: 10px;
            border-bottom: 1px solid #eee;
            border-color: white;
            background-color: #555555;
            border: 1;
            color: white;
            font-size: 20px;
            cursor: pointer;
            margin: 0 0px;
        }

        #scrollable-list li.active-song {
            background-color: #000; /* Highlight color for the active song */
        }

 body {
            margin: 0;
            overflow: hidden; /* Hide overflow to prevent scrollbars */
        }
.img-container.doggo1Pic img {
    position: absolute;
    width: 50%;
    height:50%;
    top: 00%;
    left: 00%;
    object-fit: cover;

}
.img-container.doggo2Pic img {
    width: 50%;
    height:50%;
    position: absolute;
    top: 0%;
    left: 50%;
    object-fit: cover;

}
.img-container.doggo3Pic img {
    position: absolute;
    width: 50%;
    height:50%;
    top: 50%;
    left: 0%;
    object-fit: cover;

}
.img-container.doggo4Pic img {
    width: 50%;
    height:50%;
    position: absolute;
    top: 50%;
    left: 50%;
    object-fit: cover;

}

#hidden{
position: absolute;
  opacity: 0;
  background-color: #000;
  width: 100px;
  height: 100px;
  top: calc(100% - 100px);;
  left: calc(100% - 100px);
  border: 0;
  color: white;
  font-size: 20px;
  cursor: pointer;
  padding: 0px;
  margin: 0 0px;
  z-index: 999;
}



